<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="practice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <practice.Properties.Settings>
            <setting name="global_url" serializeAs="String">
                <value>http://localhost/dp2library/xe/rest</value>
            </setting>
            <setting name="login_userName" serializeAs="String">
                <value />
            </setting>
            <setting name="login_password" serializeAs="String">
                <value />
            </setting>
            <setting name="searchBiblio_queryWord" serializeAs="String">
                <value />
            </setting>
            <setting name="searchBiblio_fromStyle" serializeAs="String">
                <value />
            </setting>
            <setting name="searchBiblio_biblioDbNames" serializeAs="String">
                <value />
            </setting>
            <setting name="searchBiblio_resultSetName" serializeAs="String">
                <value />
            </setting>
            <setting name="searchBiblio_matchStyle" serializeAs="String">
                <value />
            </setting>
            <setting name="searchBiblio_perMax" serializeAs="String">
                <value />
            </setting>
            <setting name="searchBiblio_lang" serializeAs="String">
                <value />
            </setting>
            <setting name="searchBiblio_searchStyle" serializeAs="String">
                <value />
            </setting>
            <setting name="searchBiblio_outputStyle" serializeAs="String">
                <value />
            </setting>
            <setting name="getSearchResult_resultsetName" serializeAs="String">
                <value />
            </setting>
            <setting name="getSearchResult_start" serializeAs="String">
                <value />
            </setting>
            <setting name="getSearchResult_count" serializeAs="String">
                <value />
            </setting>
            <setting name="getSearchResult_browseInfoStyle" serializeAs="String">
                <value />
            </setting>
            <setting name="getSearchResult_lang" serializeAs="String">
                <value />
            </setting>
            <setting name="login_parameters" serializeAs="String">
                <value>type=worker,client=resttest|0.01</value>
            </setting>
            <setting name="serverAddr" serializeAs="String">
                <value />
            </setting>
            <setting name="serverPort" serializeAs="String">
                <value />
            </setting>
            <setting name="databaseNames" serializeAs="String">
                <value />
            </setting>
            <setting name="queryWord" serializeAs="String">
                <value />
            </setting>
            <setting name="queryUse" serializeAs="String">
                <value />
            </setting>
            <setting name="authenStyle" serializeAs="String">
                <value />
            </setting>
            <setting name="groupID" serializeAs="String">
                <value />
            </setting>
            <setting name="userName" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="queryString" serializeAs="String">
                <value />
            </setting>
            <setting name="queryStyle" serializeAs="String">
                <value>easy</value>
            </setting>
        </practice.Properties.Settings>
    </userSettings>
</configuration>